:root {
    --color-0: #20242D;
    --color-1: #3F4A52;
    --color-2: #608685;
    --color-3: #B5C3CD;
    --color-4: #F3EDF7;
}

html {
    scroll-behavior: smooth;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

body {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    margin: 0;
    padding: 0;
}

nav {
    position: relative;
    color: var(--color-4);
    width: 100%;
    background-color: var(--color-1);
    height: 50px;
    text-transform: uppercase;
    border-bottom: solid 5px var(--color-3);
    font-size: 12pt;
}

nav .right {
    display: inline-block;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    margin-right: 32px;
    text-align: center;
}

section {
    min-height: 600px;
}

a {
    color: inherit;
}

section .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 16px;
    width: 100%;
    box-sizing: border-box;
}

nav {
    overflow: hidden;
    z-index: 1;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky + section {
    padding-top: 55px;
}

.will-fade-in {
    opacity: 0;
}

.fade-in {
    transition: 1s;
    opacity: 1;
}

.will-slide-in-left {
    opacity: 0;
    margin-left: -50%;
}

.slide-in-left {
    transition: 0.5s;
    opacity: 1;
    margin-left: 0;
}

.will-slide-in-right {
    opacity: 0;
    margin-left: 50%;
}

.slide-in-right {
    transition: 0.5s;
    opacity: 1;
    margin-right: 0;
}

#contact {
    color: var(--color-0);
}

.header {
    text-align: center;
    font-size: 16pt;
    text-transform: uppercase;
    padding: 32px 0;
}

.highlight {
    color: var(--color-3);
}

.highlight-dark {
    color: var(--color-2);
}

.bring-to-front {
    z-index: 10;
}

.canvas-holder {
    width: 100%;
    text-align: center;
}

.relative {
    position: relative;
}

.absolute-center {
    position: absolute;
    left: 0; top: 0; right: 0; bottom: 0;
}

.flex-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.text {
    font-size: 32pt;
}


.text- {
    font-size: 24pt;
}

.text-- {
    font-size: 16pt;
}

.text--- {
    font-size: 8pt;
}

.border {
    border: 2px solid #fff;
}

.page-link {
    padding: 12px 20px 12px 20px;
    position: relative;
    box-sizing: inherit;
    display: inline-block;
    cursor: pointer;
}

.page-link:hover {
    opacity: 0.5;
}

.margin-top {
    margin-top: 8px;
}

.margin-top-x {
    margin-top: 16px;
}

.margin-top-xx {
    margin-top: 32px;
}