#about {
    color: var(--color-0);
}

#about .content {
    flex-wrap:wrap;
}

#about-portrait {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    width: 500px;
    padding: 16px;
    margin:8px;
}

#about-portrait img {
    width: 500px;
    margin-bottom: 8px;
}

#about .content {
    margin-bottom: 32px;
}

#about .content>div {
    margin: 16px;
}

#about #chart .note {
    text-align: center;
}

#sunburst {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    padding: 16px;
    margin:8px;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: 400;
    background-color: #fff;
    width: 500px;
    height: 600px;
}

#sunburst-note {
    margin-top: 16px;
}

#main {
    float: left;
}

#sidebar {
    float: right;
    width: 100px;
}

#sequence {
    height: 70px;
}

#sequence text {
    font-weight: 600;
    fill: #fff;
}

#chart {
    position: relative;
}

#chart path {
    stroke: #fff;
}

#explanation {
    position: absolute;
    top: 260px;
    left: 305px;
    width: 140px;
    text-align: center;
    color: #666;
    z-index: -1;
}

#percentage {
    font-size: 2.5em;
}